@use '../abstracts/' as a;

.header_title {
  height: 250px;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  align-items: center;
  background-color: a.$quaternary-color;

  h1 {
    color: a.$secondary-color;
    width: 20vw;
    font-size: a.$quaternary-size;
    font-weight: a.$tertiary-weight;
  }
}