@use '../abstracts/' as a;

.home-carousel {
  width: auto;
  margin: auto;
  min-height: 100vh;
  background-color: a.$quaternary-color;

  .carousel .carousel-slider {
    margin: a.$tertiary-size auto;
    z-index: 0;
    cursor: pointer;

    img {
      object-fit: cover;
    }
  }

  &_title {
    margin-bottom: 48px;
  }
}