.home_boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  
  li {
    padding: 10vh 0;
    
    img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 815px) {
  .home_boards {
    flex-direction: column;

    li {
      padding: 4vh;
      img {
        width: 80vw;
      }

    }

  }
}