.home_boards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  li {
    padding: 5vh 0;
    
    img {
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 815px) {
  .home_boards {
    flex-direction: column;

    li {
      padding: 4vh;
      
      img {
        width: 80vw;
        height: auto;
      }
    }
  }
}