@use "../abstracts/" as a;

.prestations_list {
  background-color: a.$quaternary-color;
  padding: 12vh 0 5vh 0;


  li {
    background-color: a.$quaternary-color;
    box-shadow: -50px -61px 0px 0px a.$secondary-color,
      rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 40vw;
    min-height: 60vh;
    padding: 0 0 5vh 0;

    &:nth-child(odd) {
      margin: 0 auto 15vh 15vw;
    }

    &:nth-child(even) {
      margin: 0 15vw 15vh auto;
    }
  }

  h2,
  h3,
  p {
    color: a.$secondary-color;
    font-weight: a.$quaternary-weight;

  }

  h2,
  h3 {
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    padding-top: 5vh;
    font-weight: a.$secondary-weight;

  }

  h3 {
    padding: 1rem 0;
    text-align: center;
    margin: 5vh 10vw;
    font-size: 2rem;
    border: 1px solid a.$secondary-color;
  }

  p {
    text-align: justify;
    font-size: 1.4rem;
    padding: 1vh 2vw;

    &:first-of-type {
      font-size: 1.8rem;
      font-weight: a.$secondary-weight;
      color: black;
    }
  }
}

@media screen and (max-width: 855px) {
  .prestations_list {
    li {
      width: 75vw;
      box-shadow: -32px -32px 0px 0px a.$secondary-color,
      rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

      &:nth-child(odd) {
        margin: 0 auto 15vh 15vw;
      }
  
      &:nth-child(even) {
        margin: 0 5vw 15vh auto;
      }
    }

    h3 {
      text-align: center;
      margin: 5vh 10vw;
    }
  }
}
