$primary-font: 'Noto Serif Display', serif;

$primary-weight: 500;
$secondary-weight: 400;
$tertiary-weight: 600;
$quaternary-weight: 300;

$primary-size: 1rem;
$secondary-size: 1.5rem;
$tertiary-size: 2rem;
$quaternary-size: 2.5rem;

@media (max-width: 855px) {
  $primary-size: 0.5rem;
  $secondary-size: 1.2rem;
  $tertiary-size: 1.6rem;
  $quaternary-size: 2rem;
}