@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200&display=swap');
$primary-font: 'Noto Serif Display', serif;

$primary-weight: 700;
$secondary-weight: 400;

$primary-size: 1rem;
$secondary-size: 1.5rem;
$tertiary-size: 2rem;
$quaternary-size: 2.5rem;