@use './abstracts' as a;

@use './components/globals/navbar';
@use './components/globals/footer';
@use './components/prestationCard';
@use './components/prestationCategoryName';
@use './components/headerTitle';
@use './components/heroHeader';
@use './components/homePresentation';
@use './components/homeCards';
@use './components/loader';
@use './components/homeBoards';
@use './components/homeCarousel';
@use './components/carouselContainer';
@use './components/pricesPage';
@use './components/homePicture';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: a.$quaternary-color;
  // font-family: a.$primary-font;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

// buttons of the main page :
.home-cards, .home-carousel, .login-page {
  &_button {
    position: relative;
    margin-left: 75vw;
    background: a.$tertiary-color;
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 1.5rem 1.25rem;
    color: a.$primary-color;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: a.$tertiary-color;
      border-radius: 20px;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(a.$tertiary-color, 15%);
      transition: all 0.3s;
      border-radius: 20px;
      z-index: -1;
    }

    &:hover {
      color: a.$primary-color;

      &:before {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 855px) {
  .home-cards_button, .home-carousel_button {
    margin: 0 0 a.$secondary-size 45vw;
  }
}

// Main page title and their effects :

.home-cards, .home-carousel, .home-boards {
  &_title {
    position: relative;
    text-align: center;
    padding-top: 40px;
    font-weight: 900;
    font-size: 32px;
    color: a.$tertiary-color;

    &::after {
      content: "";
      position: absolute; 
      bottom: 0; 
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: a.$tertiary-color;
      transition: width 0.7s ease-in-out;
      box-shadow: rgba(100, 100, 111, 0.2) 4px 4px 20px 0px;
    }
  }
  &_underline::after {
    width: 100px !important;
  }
}

// animations:
@keyframes colorRadius {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes fadeOn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}