@use '../../abstracts/' as a;

.navlinks {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: a.$tertiary-size;
  top: 0;
  background-color: a.$quaternary-color;
  height: 100vh;
  width: 100vw;
  animation: slideIn .4s forwards ease-out;

  li {
    a {
      font-size: a.$secondary-size;
      color: a.$secondary-color;
    }
  }
}


@keyframes slideIn {
  0% {
    right: -100vw;
  }

  100% {
    right: 0vw;
  }
}